<div class="fields">
  <p>
    <%= f.label :'Basic Salary', "Salary" %><br />
    <%= f.text_field :basic, :rows => 3 %><br />
    <%= f.label :'HRA', "Salary" %><br />
    <%= f.text_field :h_r_a, :rows => 3 %><br />
    <%= f.label :'LTA', "Salary" %><br />
    <%= f.text_field :l_t_a, :rows => 3 %><br />
    <%= f.label :'PF', "Salary" %><br />
    <%= f.text_field :pf, :rows => 3 %><br />
    <%= f.label :'Bonus', "Salary" %><br />
    <%= f.text_field :bonus, :rows => 3 %><br />

    <%# f.check_box :_destroy %>
    <%# f.label :_destroy, "Remove Salary" %>
  </p>
</div>
