<h1>Listing forms</h1>

<table>
  <tr>
    <th>Book no</th>
    <th>Stamp no</th>
    <th>Employee code</th>
    <th>Branch</th>
    <th>Employee mster</th>
    <th>Remarks</th>
    <th>Madical officer</th>
    <th>Industry code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.book_no %></td>
    <td><%= form.stamp_no %></td>
    <td><%= form.employee_code %></td>
    <td><%= form.branch_id %></td>
    <td><%= form.employee_mster_id %></td>
    <td><%= form.remarks %></td>
    <td><%= form.madical_officer %></td>
    <td><%= form.industry_code %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form', new_form_path %>
